.hero{
    height:100vh;
    background:url('https://images.unsplash.com/photo-1516939884455-1445c8652f83') center/cover no-repeat;
}

.card img{
    height:250px;
    object-fit:cover;
}

.gallery img{
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

section{
    overflow:hidden;
}